html, body {
    margin: 0 auto;
    height: 100%;
}

.Checkered_Wrapper {  
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(50,1fr);
    grid-template-rows: repeat(20,1fr);
}

.box {
    height: 100%;
    width: 100%;
    background-color: black;  
}

.boxAnimate{
    animation: bounce 2s forwards;
}



@keyframes bounce {
    from {transform: translateY(0px);}
    to {transform: translateY(-5rem);}
}

.treasure {
    background-color: greenyellow;
    height: 100%;
}